.App {
  text-align: center;
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* STYLE */

/* HEADER------------ */
/* nav{
  margin-top: 1rem;
} */

.container .row a{
  background: #61dafb;
  /* border: solid 1px; */
  border-radius: 14px;
  cursor: pointer;
  height: 99px;
  text-decoration: none;
  background-color: powderblue;
  transition: background-color .5s;
  max-width: 20%;
  margin-left: 28%;
  box-shadow: inset 0 0 0 0 #54b3d6;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.container .row a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;;
}

.container .explore h1{
  margin-left: 16rem;
  margin-top: 3rem;
}
/* .container .categories{
  margin: 33px 2px 18px -40px;
  padding: 0px 26px 7px 126px;
}

.container .categories div h3{
  justify-content: center;
  margin-top: 28px;
}
.container .categories div{
  height: 99px;
} */

/* -------------------------------CATEGORIES ----------------------*/
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  /* transition: 0.3s; */
  width: 30%;
  height: 30%;

}
.icon-name{
  font-weight: 300;
  /* text-shadow: -1px 0 #12e4c2, 0 1px #964b4b, 1px 0 black, 0 -1px #b1afdb; */
  text-align: center;
  letter-spacing: 5px;
  font-size: 25px;
  cursor: pointer;
  font-family: sans-serif;
}

.grid-container {
  /* display: grid; */
  padding: 0;
  margin: 0;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  /* padding: 10px; */
}
div .cardsfeture a{
  font-size: 40px;
}
.grid-item {
  padding: 0;
  margin: 0;
  /* margin-left: 17%; */
  /* width: 25vw !important; */
  margin-top: 45px !important;
  /* width: "60%"; */
  /* height: "220px"; */
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 20px; */
  /* font-size: 30px;
  text-align: center; */
}

.grid-container .cardimg img {
  border-radius: 10px;
}

/* .grid-container .cardimg h1 {
  border-radius: 10px;
  border: 1px solid black;
} */

.grid-container .cardsfeture {
  border-radius: 10px;
  padding: 40px;
  border: 1px solid rgb(193 3 3);
  background: ghostwhite;
  text-align: center;
  box-shadow: 5px 5px 5px 5px #888888;
}



/* SLIDER-------------------- */
.title-box{
  margin-top: 22px;
}
.container-fluid .slider-div img{
  height: 124px;
  margin-top: 28px;
  width: 118px;
}
.container-fluid {
  margin: 20px 0px 50px 0px;
  padding: 7px 59px 0px 3px;
}
.container-fluid .viewmore-btn{
  margin-left: 697px;
  width: 78px !important;
  margin-top: -84px;
  z-index: 5;
}
.slick-list{
  margin: 0px 35px 0px 0px !important;
}

/*  ---------  UPLOAD FORM  ----------------- */

.form-style-2{
	max-width: 600px;
  padding: 40px 0px 18px 0px;
  font: 16px Arial, Helvetica, sans-serif;
  margin-left: 28% !important;
}
.form-style-2-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 3px solid #FF8500;
	margin-bottom: 27px;
	font-size: 20px;
  margin-right: 22px;
  width: 85%;
	padding-bottom: 17px;
}
.form-style-2 label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-2 span.required{
	color:red;
}
.form-style-2 .tel-number-field{
	width: 40px;
	text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
	width: 48%;	
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
	border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
	height:100px;
	width: 48%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
	background: #EA7B00;
	color: #fff;
}
label .terms-checkbox{
  margin: 0px 18px 19px 68px;
}
.file-input{
  margin-left: 20px;
  /* border: 1px solid #C2C2C2; */
  line-height: 27px;
  outline: none;
  color: #F0F8FF;
}

.add-url{
  /* margin-right: 5rem; */
  border: 1px solid #C2C2C2;
  padding: 7px;
  outline: none;
  width: 48%;
  border-radius: 3px;
}


  /*---------------------  BOOK LISTING -------------------------- */

  .book-images{
    width: 310px !important;
    height: 230px;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 12px;
    padding: 0px !important;
    
  }
  .clickable-chips{
    margin-bottom: 12px;
  }
  .clickable-chips .offset-1{
    width: 33%;
  }
  .book-title{
    margin-bottom: 12px;
  }
 .readmore-book{
  margin-bottom: 12px;
}
  div .readmore-btn{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: 0;
    color: white;
    font-size: 14px;
    transition: 0.3s;
    padding: 12px 30px;
    text-transform: uppercase;
    border-radius: 25px;
    vertical-align: middle;
    background-color:  #FF8500;
    font-weight: bolder;
    border-style: solid;
    border-color: transparent;
    font-family: inherit;
    white-space: nowrap;
  }
  /* .readmore-btn button:hover{
    background-color: #282c34;
  }   */
.container-fluid .card{
  border-radius: 8px 8px 8px 8px;
  margin-top: 20px;
  height: 98%;
  width: 312px;
  border: 1px solid black;
}
a{
  text-decoration : none !important;
}
/* div .readmore-btn :hover{
  background-color: #282c34 !important;
  color: green;
}
   */
   
   .readmore-book .readmore-btn :hover{
    background-color: yellow !important ;
    color: black;
   }


   /*------------------ BOOK DETAIL PAGE-------------- */

   div .particular-book-img img{
    width: 300px;
    height: 230px;
    border-radius: 5px;
   }
   .particular-book-text{
    text-align: center;
    letter-spacing: 2px;
    text-decoration: double;
    line-height: 28px;
    word-spacing: 4px;
   }
   .book-details-tag{
    margin-top: 7px;
   }
   .viewonline-btn{
    padding: 12px 0px 12px 0px !important;
    font-size: 23px !important;
    width: 200px;
    line-height: 28px;
    margin-left: 80px !important;
    margin-top: 12px;
   }
   .download-btn {
    margin-top: 12px;
    padding: 11px;
    width: 200px;
    margin-left: 130px;
}
.view-btn-row {
  margin:89px 148px 33px 55px !important;
}
.download-btn-row{
  margin : 29px 130px 33px 70px !important ;  
}
.under-line{
  margin-top: 50px !important;
	border-bottom: 3px solid #c29c72;
/* margin-left: 34rem; */
/* width: 34rem; */
}
.button-contribute {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
 
  height: 50px;
  width: 220px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-contribute:active,
.button-contribute:hover {
  outline: 0;
}

.button-contribute span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-contribute:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-contribute {
    font-size: 24px;
    min-width: 196px;
  }
}
.contributer-class{
  margin: 40px 0px 27px 10px;
}
.contribute-title{
  margin-top: 25px;
}
.review-title{
  margin-top: 35px;
  margin-bottom: 40px;
}
.review-box{
  left: 85px;
}
.review-field{
  border: 1px solid #C2C2C2;
 outline: none;
}
.add-review-btn{
  font-size: 19px;
  padding: 9px;
}
div .review-section{
  margin-top: 20px;
  margin-bottom: 20px;
}

/*------------ REVIEW PART -----------------------*/

.review-list{
  text-align: left;
  /* max-width: 500px;
  margin-left: 70PX; */
}
.review-list li{
  max-width: 500px;
  word-spacing: 4px;
  list-style: circle;
}

/*---------------------FOOTER-------------------------- */



.connect-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}  

 #footer {
  margin-top: 29rem !important;
  background-color: 
  rgb(242, 242, 242);
  
  ;
  align-items: left;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: "10px";
  text-align: center;
  font-family: "Roboto Condensed";
  margin-top: 11%;
  word-spacing: 3px;
  letter-spacing: 3px;
}

/*----------------------- CONTRIBUTE MODAL---------------------- */

.ContributeModal {
  width: 90%;
  padding: 50px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal {
  position: fixed;
  z-index: 20;
  background: #fff;
  width: 500px;

  /* Center the modal */
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modal__header {
  background: orangered;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.modal__main {
  padding: 20px;
}

.modal-close-button {
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 36px;
}

.modal-close-button:hover {
  color: yellow;
}

.modal-open-button {
  background: green;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;

}

.modal-open-button {
  background: orange;
}

/*------------------------ MODAL CONTRIBUTE------------------- */
.dialogUnderline{
	border-bottom: 2px solid black;
}
.contribute-title{
  color: black;
  font-size: 36px;
  font-weight: 400;
  /* text-shadow: black -1px 0px, black 0px 1px, black 1px 0px, black 0px -1px; */
  text-align: center;
  margin-top: 23px;
  word-spacing: 14px;
  letter-spacing: 4px;
  font-style: oblique;
}

.ETH-amount{
margin-top: 22px;
}
.message-review{margin-top: 22px;
}
.gift-btn{
  font-size: x-large !important;
  width: 111px !important;
  margin-top: 38px !important;
}


/* -----------------CARD UNDER MDAL CONTRIBUTE-------------- */

.card-title{
  line-height: 0 !important;
  margin: 3px 321px -12px 5px !important;
}
.gift-icon{
  font-size: xx-large;
  margin-left: 21rem;
  margin-right: 20px;
}
.gift-under-line{
  border-bottom: 1px solid black;
}
